@using DataAccess.Models;
@{
    ViewData["Title"] = "Lịch sử hoạt động";
    ViewData["Description"] = "Tra cứu lịch sử hoạt động của tài khoản";
}

@model IEnumerable<HistoryLogModel>

<div class="d-flex flex-column w-100 p-3 gap-2 overflow-auto">
    <div class="d-flex justify-content-between align-items-center">
        <span class="fw-bold fs-4">@ViewData["Title"]</span>
        <div class="d-flex gap-2">
            <button class="btn btn-primary" onclick="location.reload();">
                <i class="bi bi-arrow-clockwise"></i>
                Làm mới
            </button>
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#clearLogConfirmModal">
                <i class="bi bi-trash-fill"></i>
                Xoá Log
            </button>
        </div>

    </div>
    <table id="dtHistoryLog" class="table table-striped table-hover table-bordered" width="100%">
        <thead class="table-light">
            <tr>
                <th scope="col">Thời gian</th>
                <th scope="col">Người dùng</th>
                <th scope="col">Action</th>
                <th scope="col">Controller</th>
                <th scope="col">Ghi chú</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
                @foreach (var log in Model)
                {
                    <tr>
                        <td>@log.DateTime.ToString("G")</td>
                        <td>@log.Username</td>
                        <td>@log.Action</td>
                        <td>@log.Controller</td>
                        <td>@log.Description</td>
                    </tr>
                }
        </tbody>
    </table>
    <div class="modal fade" id="clearLogConfirmModal" data-bs-backdrop="static" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form asp-action="XoaLichSuHoatDong" asp-controller="ManageAccount" method="post">
                    <input hidden id="userId" name="Id" />
                    <div class="modal-header">
                        <h5 class="modal-title">Xoá lịch sử hoạt động</h5>
                    </div>
                    <div class="modal-body">
                        <p>Bạn có chắc chắn muốn xoá sạch lịch sử hoạt động?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
                        <button type="submit" class="btn btn-danger">Xoá</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>