@using DataAccess.Models;
@{
    ViewData["Title"] = "Danh sách người dùng";
    ViewData["Description"] = "Danh sách tất cả người dùng trong hệ thống";
}

@model IEnumerable<AccountModel>

<div class="d-flex flex-column w-100 p-3 gap-2 overflow-auto">
    <div class="d-flex justify-content-between align-items-center">
        <span class="fw-bold fs-4">@ViewData["Title"]</span>
        <div class="d-flex gap-2">
            <button class="btn btn-primary" onclick="location.reload();">
                <i class="bi bi-arrow-clockwise"></i>
                Làm mới
            </button>
            <button class="btn btn-success d-flex align-items-center gap-2 create-user-btn">
                <i class="bi bi-person-fill-add"></i>
                Tạo mới
            </button>
        </div>
    </div>

    <table id="dtHistoryLog" class="table table-striped table-hover table-bordered" width="100%">
        <thead class="table-light">
            <tr>
                <th scope="col" width="15%">Tên người dùng</th>
                <th scope="col" width="15%">Số điện thoại</th>
                <th scope="col" width="15%">Ngày tạo</th>
                <th scope="col" width="15%">Ngày hết hạn</th>
           @*     <th scope="col" width="10%">Quyền hạn</th>*@
                <th scope="col" style="width:15%;">Hành động</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
                @foreach (var user in Model)
                {
                    <tr class="align-middle">
                        <td>@user.Username</td>
                        <td>@user.PhoneNumber</td>
                        <td>@user.CreatedAt.ToString("d")</td>
                        <td>@user.ExpiredAt.ToString("d")</td>
@*                        <td>@user.Role</td>*@
                        <td class="d-flex gap-1 align-items-center justify-content-center">
                            <button type="button" class="btn btn-success edit-user-btn" edit-user-id="@user.Id"><i class="bi bi-pencil-square"></i> Sửa</button>
                            <button type="button" class="btn btn-danger delete-user-btn disabled" delete-user-id=@(user.Id)>
                                <i class="bi bi-person-x-fill"></i>
                                Xoá
                            </button>
                        </td>
                    </tr>
                }
        </tbody>
    </table>
</div>