@using System.Security.Claims;
<div class="d-flex flex-column p-2 mt-1 h-100 overflow-auto">
    @if (User.Claims.FirstOrDefault(claim => claim.Type == ClaimTypes.Role)?.Value == "Admin")
    {
        <span class="btn d-flex px-2 gap-2 align-items-center w-100 border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseManageAccount">
            <i class="bi bi-person-lines-fill me-1"></i>
            <span class="fw-bold w-100 text-start">Quản lí</span>
            <i class="bi bi-caret-down-fill" style="font-size:10px;"></i>
        </span>

        <div class="collapse @(ViewContext.RouteData.Values["controller"]!.ToString() == "ManageAccount" ? "show" : "") ms-4" id="collapseManageAccount"
             style="font-size:13px;">
            <a class="btn shadow-none @(ViewContext.RouteData.Values["action"]!.ToString() == "LichSuHoatDong" ? "bg-danger text-light":"") d-flex px-2 py-1 gap-1 align-items-center w-100 border-0"
               asp-controller="ManageAccount"
               asp-action="LichSuHoatDong">
                <i class="bi bi-dot"></i>
                <span class="fw-bold">Lịch sử hoạt động</span>
            </a>
            <a class="btn shadow-none @(ViewContext.RouteData.Values["action"]!.ToString() == "TaoTaiKhoan" ? "bg-danger text-light":"") d-flex px-2 py-1 gap-1 align-items-center w-100 border-0"
               asp-controller="ManageAccount"
               asp-action="TaoTaiKhoan">
                <i class="bi bi-dot"></i>
                <span class="fw-bold">Tạo tài khoản mới</span>
            </a>
        </div>
    }



    <span class="btn d-flex px-2 gap-2 align-items-center w-100 border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseAccount">
        <i class="bi bi-person-vcard-fill me-1"></i>
        <span class="fw-bold w-100 text-start">Tài khoản</span>
        <i class="bi bi-caret-down-fill" style="font-size:10px;"></i>
    </span>

    <div class="collapse @(ViewContext.RouteData.Values["controller"]!.ToString() == "Account" ? "show" : "") ms-4" id="collapseAccount"
         style="font-size:13px;">
        <a class="btn shadow-none @(ViewContext.RouteData.Values["action"]!.ToString() == "ThongTin" ? "bg-danger text-light":"") d-flex px-2 py-1 gap-1 align-items-center w-100 border-0"
           asp-controller="Account"
           asp-action="ThongTin">
            <i class="bi bi-dot"></i>
            <span class="fw-bold">Thông tin tài khoản</span>
        </a>
        <a class="btn shadow-none @(ViewContext.RouteData.Values["action"]!.ToString() == "DoiMatKhau" ? "bg-danger text-light":"") d-flex px-2 py-1 gap-1 align-items-center w-100 border-0"
           asp-controller="Account"
           asp-action="DoiMatKhau">
            <i class="bi bi-dot"></i>
            <span class="fw-bold">Đổi mật khẩu</span>
        </a>
        <a class="btn shadow-none rounded-pill d-flex px-2 py-1 gap-1 align-items-center w-100 border-0"
           asp-controller="Account"
           asp-action="Logout">
            <i class="bi bi-dot"></i>
            <span class="fw-bold">Đăng xuất</span>
        </a>
    </div>

    <span class="btn d-flex px-2 gap-2 align-items-center w-100 border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#NurturingManagementReport">
        <i class="bi bi-currency-dollar me-1"></i>
        <span class="fw-bold w-100 text-start">Quản lý thu chi</span>
        <i class="bi bi-caret-down-fill" style="font-size:10px;"></i>
    </span>

    <div class="collapse @(ViewContext.RouteData.Values["controller"]!.ToString() == "NurturingManagementReport" ? "show" : "") ms-4" id="NurturingManagementReport">
        <a class="btn shadow-none @(ViewContext.RouteData.Values["action"]!.ToString() == "TienAn" ? "bg-danger text-light":"") d-flex px-2 py-1 gap-1 align-items-center w-100 border-0"
           asp-controller="NurturingManagementReport"
           asp-action="TienAn">
            <i class="bi bi-dot"></i>
            <span class="fw-bold">Tiền ăn</span>
        </a>
    </div>
</div>

